* {
    margin: 0;
    padding: 0;
}

body {
    width: 100%;
    background: f9f9f9;
}

.top-title {
    font-size: 36px;
    padding-left: 8px;
    margin-bottom: 16px;
    color: #555;
    font-weight: 400;
    border-left: 6px solid #e63c35;
    padding-right: 8px;
}

a.fbutton {
    margin-top: 16px;
    font-size: 16px;
    padding: 8px 32px;
    background: #3b5998;
    color: #f9f9f9;
    border: 1px solid #3b5998;
    border-radius: 5px;
    text-decoration: none;
    transition: all 0.5s;
}

a.fbutton:hover {
    background: #f9f9f9;
    color: #3b5998;
}

img {
    float: left;
}

h2 {
    color: #e63c35;
}

p {
    margin-bottom: 16px;
}

.right-box {
    float: left;
    width: 288px;
    margin-left: 18px;

}

.left-box {
    float: left;
    width: 288px;
    margin-right: 18px;

}

#main {
    width: 608px;
    margin: 0 auto;
    overflow: hidden;
    background: #fff;
    padding: 16px;

}

.wrapper {
    width: 640px;
    margin: 0 auto;
}

.content:last-child {
    border-bottom: 0;
}

.content {
    border-bottom: 1px solid #eee;
    padding: 16px 0;
    overflow: hidden;
}

#content2 .top-title{
    text-align: right;
    border-left: none;
    border-right: 6px solid #e63c35;
}

#content4 .top-title{
    text-align: right;
    border-left: none;
    border-right: 6px solid #e63c35;
}

#header{
    width: 100%;
    overflow: hidden;
    background: #e63c35;
    padding: 6px Opx;
    
}
    

#header h1{
    float: left;
    color: #f9f9f9;
    margin-right: 48px;
}

nav{
overflow: hidden;
height: 50px;
}

nav li {
list-style-type: none;
float: left;
margin-top: 2px;

}

nav a{
font-size: 16px;
display: block;
text-decoration: none;
color: #f9f9f9;
margin: 14px 16px 0px;
transition: all 0.3s;
}

nav a:hover {
    border-bottom: 3px solid #f9f9f9;
    font-size: 18px;
}

