* {
    margin: 0;
    padding: 0;
    border: 0;
    box-sizing: border-box;
    background-repeat:no-repeat;
}

.wrapper {
    overflow: auto;
    scroll-snap-type: y mandatory;
    height: 100vh;
}

.content {
    scroll-snap-align: start;
    width: 100vw;
    height: 100vh;
    display: flex;
}